<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Member" type="com.caveup.weitwo.biz.domain.dataobject.Member" />
	</typeAliases>
	<typeHandlers>
		<typeHandler javaType="boolean" jdbcType="VARCHAR" handler="com.caveup.weitwo.biz.mybatis.BooleanTypeHandler" />
	</typeHandlers>
	<mappers>
		<mapper resource="sqlmap/MemberMapper.xml" />
	</mappers>
</configuration>
