@CHARSET "UTF-8";

body {
	font-size:15px;
	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei,
		Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

.login-panel {
	margin-top: 25%;
}